h1{
    text-align: center;
    
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
body{
    background-image: url(images/dark.jpeg);
}
#welcome {
    
    text-align: center;
    
    font-size: px;
    background-repeat: no-repeat;
}
#services-offered {
    background-image: url(images/s_image.jpg);
    height: 8cm;
    padding-top: 90px;
    color: white;
    font-size: 15px;
    font-style: italic;
}
#contact {
    background-image: url(images/c_image.jpg);
    height: 12cm;
    
}
#black {
    background-image: url(images/work4.jpg);
    color: orange;
    
}
#ontariosecurity{
    background-image: url(images/work3.jpg);
    background-position: center;
    columns: orange;

}
#Pyramids{
    background-image: url(images/work2.jpg);
    color: orange;
}
#JimCarry{
    background-image: url(images/work1.jpg);
    color: orange;
    
}
#NiceDay{
    background-image: url(images/work5.jpg);
    background-position: center;
    color: orange;
}
#Calculator{
    background-image: url(images/work6.jpg);
    color: orange;
}
#burned{
    background-image: url(images/work7.jpg);
    background-position: center;
    color: orange;
}
#Giraffe{
    background-image: url(images/work8.jpg);
    background-position: center;
    color:green;
}
.portfolio{
    background-color: coral;
    text-align: center;
    width: 250px;
    height: 250px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    
    
}
#social{
    align-items: center
}
.hidden{
    display: none;
    color: white;
}

#black p,
#ontario p,
#Pyramids p,
#JimCarry p,
#NiceDay p,
#Calculator p,
#burned p,
#gr p {
    display : none;
}
.dick{
    font-size: x-small;
    background-color: white;
}
.dell{
    color: orange;
}
.form-label{
    color: orange;
}
.col-sm-3 portfolio{
    color: orange;
}
.container{
    align-items: center;
}
.us{
    color: orange;
    margin: 50px;
    

}
.boxxx{
    background-image: url(images/delani.jpeg);
    margin: 80px;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.white{
    color: white;
}
.on{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.mid{
    margin-left: 65px;

}
.midd{
    margin-left: 130px;
}
.pip{
    overflow-wrap: normal;
    color: white;
}