
body{
    background-color: whitesmoke;
       background-size: cover;
    background-repeat: no-repeat;
}
.first{
    background: url(images/delani.jpeg);
    width: 70%;
    height: 80vh;
    margin: 100px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    text-align: center;
    font-size: 14px;
}
.title{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   margin: 100px auto
}
 
 .second{
     background-color: wheat;
     width: 75%;
     height: 40vh;
     margin: 100px auto;
     background-repeat: no-repeat;
     background-position: center;
     text-align: center;
 }
 .third{
    background: url(images/s_image.jpg);
    width: 70%;
    height: 50vh;
    margin: 100px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    text-align: center;
    font-size: 14px;
 }
 .services{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 100px auto;
        
 }
 .forth{
    background-color:white;
    width: 80%;
    height: 60vh;
    margin: 100px auto;
    background-repeat: no-repeat;  
    display: flex;
    text-align: center;
    font-size: 14px;
 }
 .do{
    margin: 100px auto;
 }
 .fifth{
     background-color: white;
     width: 79%;
    height: 50vh;
    margin: 100px auto;
    background-repeat: no-repeat;  
    display: flex;
    font-size: 14px;

 }
.cp{
    width: 297px;
   height: 200px;
  
}
.port{
    background-color:wheat;
    width: 89%;
    height: 74vh;
    margin: 100px auto;
}
.name{
    margin: 100px auto;
}
.sixth{

    background: url(images/c_image.jpg);
    width: 85%;
    height: 80vh;
    margin: 100px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    text-align: center;
    font-size: 14px;
}
.cont1{
    margin-bottom: 25px;
    background-color: transparent;

}
.cont1 > input {
    width: 350px;
    height: 32px;
    background-color: transparent;
    color: white;

}
.cont2{
    color: white;
    background-color: transparent;
}
.cont{
    margin: 100px auto;
}

.what-we-do{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  .what-we-do .headings{
    padding-bottom: 38px;
  }
  #portfolio{
     width: 75%; 
     height:79vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
    background-color: white;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
    background-color: white;
  }
